:root {
    /* Color */
    --main-color: #920000;
    --sec-color: rgba(146, 0, 0, 40%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "open sans";
}
.background {
    background: url(../../images/tim-navis-Flxl7OUuO1M-unsplash.jpg) center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 50%);
}
.content {
    width: 450px;
    background: #fff;
    border-radius: 10px 10px 0 0;
    position: relative;
    margin: 25px;
}
.content h2 {
    font-size: 25px;
    text-align: center;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    color: #3f3f3f;
    background-color: #ececec;
    border-bottom: 1px solid #b6b6b6;
}
.content form {
    margin: 30px;
}
.content form .group {
    position: relative;
    margin-bottom: 15px;
}
.content form .group i {
    position: absolute;
    width: 45px;
    text-align: center;
    height: 38px;
    border-radius: 5px 0 0 5px;
    line-height: 2.5;
    font-size: 15px;
    color: var(--main-color);
}
.content form .group .label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 5px;
}
.content form .group .inp-grp {
    padding: 10px;
    border: 1px solid #acacac;
    outline: 0;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    padding: 10px 10px 10px 40px;
}
.content form .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content form .info .group {
    flex-basis: 50%;
}
.content form .group label {
    font-size: 15px;
}
.content form .group .checkbox {
    height: 12px;
}
.content form .group .forg {
    text-align: right;
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    width: fit-content;
    margin-left: auto;
}
.content form .group .forg:hover {
    text-decoration: underline;
}
.content form .line {
    position: relative;
}
.content form .line::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background-color: #c5c5c5;
}
.content form .links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 25px;
}
.content form .links li a {
    text-decoration: none;
    display: block;
    color: #505050;
    width: 40px;
    height: 40px;
    border: 1px solid #c0c0c0;
    display: grid;
    place-items: center;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    transition: .3s;
}
.content form .links li a:hover {
    background-color: #505050;
    color: #fff;
}
.content .foot {
    padding: 15px;
    background-color: #ececec;
    border-top: 1px solid #b6b6b6;
}
.content .foot .btn {
    text-decoration: none;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    transition: .3s;
}
.content .foot .btn:hover {
    opacity: .8;
}